<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Puzzle</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav"></ul>
  </span>
</nav>
<button (click)="play()">Play</button>

<span class="text-center" #main id="main" (click)="moveImage($event)">
  <div id="0"><img src="assets/images/0.jpg" class="rounded" alt="..." /></div>
  <div id="1"><img src="assets/images/1.jpg" class="rounded" alt="..." /></div>
  <div id="2"><img src="assets/images/2.jpg" class="rounded" alt="..." /></div>
  <div id="3"><img src="assets/images/3.jpg" class="rounded" alt="..." /></div>
  <div id="4"><img src="assets/images/4.jpg" class="rounded" alt="..." /></div>
  <div id="5"><img src="assets/images/5.jpg" class="rounded" alt="..." /></div>
  <div id="6"><img src="assets/images/6.jpg" class="rounded" alt="..." /></div>
  <div id="7"><img src="assets/images/7.jpg" class="rounded" alt="..." /></div>
  <div id="8"><img src="assets/images/b.jpg" class="rounded" alt="..." /></div>
</span>
